// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'schedule';
@import 'staffer';

// Overrides
a abbr[title] {
  border-bottom: none;
}

abbr[title] {
  text-decoration: none;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

div.highlighter-rouge[overlay] {
  position: relative;

  &::after {
    @extend .label, %card-meta, .text-grey-dk-100;

    background-color: $white;
    bottom: $sp-2;
    content: attr(overlay);
    position: absolute;
    right: 0;
    user-select: none;
  }
}

details {
  margin: 0 40px 1em;
}

h1, h2, h3, h4, h5, h6 {
  align-items: center;
  display: flex;
}

iframe,
summary {
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  a {
    white-space: normal;
  }

  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }

  .katex {
    font-size: 1.1em;
  }
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--add-height"]::before {
    padding-bottom: calc(100% / (var(--aspect-ratio)) + (var(--add-height)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

// Added by Shomil
.site-title {
  font-size: 16px !important;
}

.img {
  height: "100px";
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.inline-centered-image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 128px;
  padding: 0 20px;
}

.banner-images-container {
  text-align: center;
  margin: 35px 0;
}

.page-title-container {
  margin: 80px 0 40px;
  width: 100%;
}

.page-title {
  color: #161f2a;
  text-align: center !important;
  font-weight: 300;
  font-size: 3em;
  line-height: 0.8;
  margin: 0;
}

.page-title-desc {
  text-align: center !important;
  color: #161f2aa8;
  font-size: 1.2em;
  margin: 10px 0;
}

.title-hr {
  margin: 40px 0;
}

.row {
  display: flex;
}

.column-2 {
  flex: 50%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column-2 {
    width: 100%;
  }
}

// Added by Aniruth

.center-container {
  display: grid;
  place-items: center;
}